.wrapper {
  background: #f7f7f7;
}

.between-two-content-border {
  //width: 75%;
  height: 1px;
  border-top: 2px solid;
  border-image: radial-gradient(rgba(98, 98, 98, 0.77),
    rgba(142, 142, 142, 0)) 1;
  //@media (max-width: 700px) {
  //  width: 40% !important;
  //}
}

.blue-toolbar {
  background: #140250 !important;
  color: white;

  .cursor {
    cursor: pointer;
  }
}

.change-search-icon {
  position: relative;
  top: 6px;
  left: 2px;
}

.close {
  animation: rotateIn 1s;
}

.fadeInAnimation {
  animation: fadeIn 1s;
}

.field-search {
  min-height: 12vh;
  //background: url("../../../../../assets/image/facilities/search/search.jpeg") no-repeat center;

  .layer {
    background: #236b81;
    opacity: 0.85;
    top: 0;
    position: relative;
    min-height: 12vh;
  }
}

.toggleIcon {
  width: 45px;
  cursor: pointer
}

.white-color {
  color: white;
}

.gray-color {
  color: #48494c !important;
  font-weight: normal !important;
}

.top-card {
  text-align: center;
  border-bottom: 2px solid #e3e3e3;

}

.table-header, .table-items {
  font-size: 18px !important;
  font-weight: 450;
  color: #48494c;
}

.table-items {
  font-size: 16px !important;
}

.text-center {
  text-align: center;
}

.font-13 {
  font-size: 13px !important;
  color: rgba(76, 76, 76, 0.6);
}

.blue-font-color {
  color: #236b81;
}

.search-desktop-btn {
  background: green;
  color: white;
  padding: 4px !important;
  margin-top: 16px !important;
}

.field-search {
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: #ffffff;
    border-radius: 5px;
  }

  ::ng-deep .mat-stroked-button:not([disabled]) {
    border-color: green;
  }

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 10px 0 12px 0 !important;
  }
}

//@@@@@@@@@@@@@@@@@@@  media query @@@@@@@@@@@@@@@@@

@media (max-width: 1200px) {

  .row {
    margin: 0 !important;
  }

  .zero-padding-mobile {
    padding: 0 !important;
  }

  .change-search-btn {
    background-color: #140250 !important;
    color: white !important;
    cursor: pointer !important;
  }


}
