<div class="w-100 h-100 wrapper">
  <mat-drawer-container class="h-100 w-100" dir="rtl">
    <mat-drawer style="min-width: 40%"
                #snav mode="over">
      <mat-nav-list>
        <div *ngFor="let item of menu">
          <a mat-list-item
             *ngIf="commonService.canSeePage(item.value)"
             [routerLink]="item.route"
             class="px-2">
            {{item.text}}
          </a>
        </div>

        <a mat-list-item
           (click)="commonService.logOut()"
           class="px-2">
          خروج
        </a>
      </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content class="h-100">
      <app-loading-component *ngIf="loading"></app-loading-component>
      <app-main-menu [logo]="true"
                     [snav]="snav"
                     (ordersList)="updateOrders($event)"
                     [mainMenu]="true"
                     [profile]="true">
      </app-main-menu>
      <mat-toolbar style="height: 56px"
                   class="d-none d-lg-flex blue-toolbar row  px-md-5 justify-content-between">
        <div class="col-auto mat-body-1">
          <span>حواله ها</span>
        </div>

      </mat-toolbar>
      <div *ngIf="showSearchField"
           class="d-none d-lg-flex field-search w-100 fadeInAnimation">

      </div>

      <div class="row mx-auto px-lg-5 mt-3  w-100 d-none d-lg-flex">
        <div class="col-12 mx-auto" style="padding: 0 !important;">
          <mat-card>

            <div class="row  justify-content-between"
                 style="border-bottom: 2px solid #f1f1f1">

              <div class=" px-1 text-center table-header col-3 py-2">
                عکس
              </div>

              <div class=" px-1 text-center table-header col-2 py-2">
                محصول
              </div>

              <div class=" px-1 text-center table-header col-2 py-2">
                مبدا
              </div>

              <div class=" px-1 text-center table-header col-2 py-2">
                مقصد
              </div>

              <div class=" px-1 text-center table-header col-3 py-2">
                عملیات
              </div>
            </div>
            <div class="row justify-content-between"
                 *ngFor="let item of result; let i = index"
                 style="border-bottom: 2px solid #f1f1f1; height: 85px">

              <div class="col-3 table-items my-auto mat-title text-center py-2">
                <img [src]="item.product.image"
                     (click)="openImageDialog(item.product.image)"
                     style="cursor: pointer"
                     height="65">
              </div>

              <div class="col-2 table-items my-auto mat-title text-center py-2">
                {{item.product.name}}
              </div>
              <div class="col-2 table-items my-auto mat-title text-center py-2">
                {{item.source.name}}
              </div>

              <div class="col-2 table-items my-auto mat-title text-center py-2">
                {{item.destination.name}}
              </div>

              <div class="col-3 table-items my-auto  text-center py-2">
                <button mat-icon-button
                        (click)="closeOrder(item.id)"
                        color="warn"
                        matTooltip="حذف">
                  <mat-icon>delete</mat-icon>
                </button>
                <button mat-button
                        (click)="approveOrder(item.id, item.orders)"
                        style="color: green"
                        matTooltip="ویرایش">
                  <span>تایید</span>
                </button>
                <button mat-button
                        (click)="openDialog(item)">
                  مشاهده
                </button>
              </div>

            </div>
            <mat-spinner *ngIf="loading"
                         class="mx-auto my-3"
                         [diameter]="40"
                         [strokeWidth]="5">
            </mat-spinner>
          </mat-card>
        </div>
      </div>
      <!--  @@@@@@@@@@@@@@@@@@@@ d-block d-lg-none @@@@@@@@@@@@@@@@@@@@@@-->
      <mat-toolbar class="d-lg-none d-flex justify-content-between zero-padding-mobile"
                   style="background: #236b81 ">
        <div class="col-auto px-md-5">
          <button mat-flat-button
                  routerLink="/admin/users/detail"
                  class="change-search-btn">
            ایجاد
          </button>
        </div>

      </mat-toolbar>

      <div class="d-flex  d-lg-none flex-wrap">
        <div class="col-12 mx-auto d-flex row mx-3 my-2 py-1"
             style="margin-left: 0 !important;margin-right: 0 !important;">
          <!--          ngfor-->
          <mat-card class="w-100 my-2"
                    *ngFor="let item of result; let i = index">

            <div class="row justify-content-between py-1">
              <img *ngIf="item.product.image"
                   [src]="item.product.image"
                   (click)="openDialog(item.product.image)"
                   style="cursor: pointer"
                   height="85"
                   class="mx-auto">
            </div>

            <div class="row justify-content-between">
              <div class="col-auto mat-body-2">مبدا</div>
              <div class="col-auto mat-body-2"
                   style="text-align: end">{{item.source.name}}</div>
            </div>
            <div class="row justify-content-between pt-3 pb-2">
              <div class="col-auto mat-body-2">مقصد</div>
              <div class="col-auto mat-body-2"
                   style="text-align: end">
                {{item.destination.name}}
              </div>
            </div>
            <div class="row justify-content-between pt-3 pb-2">
              <div class="col-auto mat-body-2">محصول</div>
              <div class="col-auto mat-body-2"
                   style="text-align: end">
                {{item.product.name}}
              </div>
            </div>
            <hr class="w-75 mx-auto  mt-4">
            <div class="row justify-content-between pt-1">
              <button mat-button
                      (click)="closeOrder(item.id)"
                      color="warn"
                      matTooltip="ویرایش">
                <span>حذف</span>
              </button>
              <button mat-button
                      (click)="approveOrder(item.id, item.orders)"
                      style="color: green"
                      matTooltip="ویرایش">
                <span>تایید</span>
              </button>
              <button mat-button
                      (click)="openDialog(item)">
                مشاهده
              </button>
            </div>
          </mat-card>
          <mat-spinner *ngIf="loading"
                       class="mx-auto my-3"
                       [diameter]="40"
                       [strokeWidth]="5">
          </mat-spinner>
        </div>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
