<div class="w-100 h-100">
  <mat-drawer-container dir="rtl"
                        class="h-100">
    <!--<mat-drawer style="min-width: 40%"
                #snav mode="over">
      <mat-nav-list>
        <a mat-list-item
           class="px-2"
           *ngFor="let item of menu">{{item.text}}</a>
      </mat-nav-list>
    </mat-drawer>-->
    <mat-drawer-content class="h-100 w-100">
      <app-main-menu [logo]="true">
      </app-main-menu>
      <app-loading-component *ngIf="loading"></app-loading-component>
      <div class="w-100 wrapper">
        <div class="row w-75 mx-auto content ">
          <div class="col-6 col-xl-5 d-none d-xl-flex justify-content-center my-auto">
            <img src="../../../assets/image/login/forget-password.png"
                 class="change-password-image"/>
          </div>
          <div
            class="col-12 col-lg-6 col-xl-7 pt-lg-5  d-flex my-auto mx-auto justify-content-center align-items-center align-items-md-start">
            <div class="pt-lg-4 forms-container text-center">

              <form *ngIf="step === 1"
                    [formGroup]="formGroup.first">
                <div style="color: #236b81"
                     class="mat-title">
                  فراموشی رمز عبور
                </div>
                <div style="color: #707070"
                     class="subtitle">
                  لطفا شماره موبایل خود را وارد کنید
                </div>
                <div dir="rtl" class="mt-4">
                  <mat-form-field class="w-100"
                                  appearance="outline">
                    <mat-label>شماره موبایل</mat-label>
                    <input formControlName="phone"
                           matInput
                           placeholder="شماره موبایل"/>
                    <mat-error *ngIf="formGroup.first.get('phone').hasError('required')">
                      شماره موبایل الزامی است
                    </mat-error>
                    <mat-error *ngIf="formGroup.first.get('phone').hasError('minlength') || formGroup.first.get('phone').hasError('maxlength')">
                      شماره موبایل معتبر نمی باشد
                    </mat-error>
                  </mat-form-field>
                </div>
                <button mat-flat-button
                        (click)="goNextStep()"
                        class="py-1 mt-2  btn">
                  دریافت کد
                </button>
              </form>
              <form [formGroup]="formGroup.second"
                    *ngIf="step === 2"
                    class="pt-3">
                <div style="color: #236b81"
                     class="mat-title">
                  فراموشی رمز عبور
                </div>
                <div style="color: #707070"
                     class="mat-dialog-title">
                  لطفا کد ارسال شده را وارد کنید
                </div>
                <div dir="rtl" class="mt-4">
                  <mat-form-field class="w-100"
                                  appearance="outline">
                    <mat-label>شماره موبایل</mat-label>
                    <input formControlName="phone"
                           matInput
                           disabled
                           autocomplete="off"
                           [value]="formGroup.first.get('phone').value"
                           placeholder="شماره موبایل"/>
                  </mat-form-field>
                </div>
                <div dir="rtl">
                  <mat-form-field class="w-100"
                                  appearance="outline">
                    <mat-label>کد تایید</mat-label>
                    <input matInput
                           formControlName="code"
                           autocomplete="off"
                           placeholder="کد تایید"/>
                    <mat-error *ngIf="formGroup.second.get('code').hasError('required')">
                      کد تایید الزامی است
                    </mat-error>
                    <mat-error *ngIf="formGroup.second.get('code').hasError('maxlength')">
                      حداکثر ۱۰۰ کاراکتر
                    </mat-error>
                  </mat-form-field>

                </div>
                <div (click)="goBackStep()"
                     class="mat-body-2 mb-3 d-flex flex-row justify-content-center go-to-change-mobile-btn">
                  <mat-icon class="mr-1">autorenew</mat-icon>
                  <div>تغیر شماره موبایل</div>
                </div>
                <button mat-flat-button
                        (click)="sendCode()"
                        class="py-1 mt-2  btn">
                  ارسال کد
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-around footer"
           style="margin: 0">
        <div class="col-xl-2 d-none d-xl-block"></div>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>

