.big-icon {
  font-size: 32px !important;
  color: #236b81
}

.toolbar-style {
  background: #fdfdfd;
  border-bottom: solid 1px #bebebe;
  max-height: 62px;
  @media (max-width: 500px) {
    max-height: 62px;
  }
}

.wrapper {
  min-height: calc(100% - 70px);
  height: auto;
  background: url("../../image/facilities/insurance/footer.png") no-repeat bottom;
  background-color: #fdfdfd;
  background-size: contain;
  .image {
    height: 51vh;
  }

  .content {
    height: 100%;
    padding-top: 8vh;
  }
}

.btn {
  background: #65a640;
  color: white;
  font-size: 16px;
  width: 160px;
}


.forms-container {
  width: 50%;
}

@media (max-width: 575.98px) {

  .wrapper {
    height: calc(100% - 62px) !important;
  }

  .mat-title {
    font-size: 18px !important;
    font-weight: 450;
  }
  .forms-container {
    width: 100%;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  .mat-title {
    font-size: 18px !important;
  }
  .forms-container {
    width: 100%;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  .mat-title {
    font-size: 18px !important;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  .forms-container {
    width: 75%;
  }
  .mat-title {
    font-size: 18px !important;
  }
}

@media (min-width: 1200px) and (max-width: 1600px) {
  .content {
    padding-top: 3vh !important;
  }
}

@media (min-height: 768px) {
  .content {
    padding-top: 8vh !important;
  }
}
