.dialog-width {
  width: 500px;
}

.between-two-content-border {
  //width: 75%;
  height: 1px;
  border-top: 2px solid;
  border-image: radial-gradient(rgba(98, 98, 98, 0.77),
    rgba(142, 142, 142, 0)) 1;
  //@media (max-width: 700px) {
  //  width: 40% !important;
  //}
}

@media (max-width: 500px) {
  .dialog-width {
    width: 260px !important;
  }

}
