<div class="w-100 h-100 wrapper">
  <mat-drawer-container class="h-100 w-100" dir="rtl">
    <mat-drawer style="min-width: 40%"
                #snav mode="over">
      <mat-nav-list>
        <div *ngFor="let item of menu">
          <a mat-list-item
             *ngIf="commonService.canSeePage(item.value)"
             [routerLink]="item.route"
             class="px-2">
            {{item.text}}
          </a>
        </div>

        <a mat-list-item
           (click)="commonService.logOut()"
           class="px-2">
          خروج
        </a>
      </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content class="h-100">
      <!--<app-loading-component *ngIf="loading"></app-loading-component>-->
      <app-main-menu [logo]="true"
                     [snav]="snav"
                     [mainMenu]="true"
                     [profile]="true">
      </app-main-menu>
      <mat-toolbar style="height: 56px"
                   class="d-none d-lg-flex blue-toolbar row  px-md-5 justify-content-between">
        <div *ngIf="!customer.loading"
             class="col-auto mat-body-1">
          <span>{{customer.obj.name +' '+ customer.obj.family}}</span>
        </div>

        <div class="d-flex flex-row">
          <div *ngIf="!showSearchField"
               class="col-auto d-flex justify-content-center align-items-center cursor"
               (click)="showSearchField = !showSearchField">
            <span class="mat-body-1 mr-1">تغییر جستجو</span>
            <img class="ml-1"
                 width="28"
                 src="../../../assets/image/facilities/search/search.png"/>
          </div>
          <div class="col-auto d-flex justify-content-center align-items-center cursor"
               (click)="showSearchField = !showSearchField"
               *ngIf="showSearchField">
            <span class="pr-1 mat-body-1">بستن</span>
            <mat-icon class="close">close</mat-icon>
          </div>
          <button mat-icon-button
                  (click)="router.navigate(['/admin'])"
                  style="color: white">
            <mat-icon>arrow_back_ios</mat-icon>
          </button>
        </div>

      </mat-toolbar>
      <div *ngIf="showSearchField"
           class="d-none d-lg-flex field-search w-100 fadeInAnimation">
        <div class="layer w-100">
          <form [formGroup]="formGroup">
            <div class="row mx-5 justify-content-center">

              <div class="col-4 pt-2 "
                   style="margin-right: 26px">
                <br/>
                <div class="d-flex flex-row ">
                  <div class="col-2 white-color mat-body-2 mt-3"
                       style="padding-left: 0; padding-right: 0">
                    <span>تاریخ پرداخت</span>
                  </div>
                  <div class="col-10">
                    <my-date-picker [type]="'jalali'"
                                    [label]="false"
                                    [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="date.paid"
                                    placeholder="تاریخ پرداخت"
                                    [locale]="'fa'">
                    </my-date-picker>
                  </div>
                </div>
              </div>

              <div class="col-4 mt-2">
                <br>
                <div class=" d-flex flex-row">
                  <div class="col-2 d-flex white-color mat-body-2 mt-3"
                       style="padding-left: 0; padding-right: 0">
                    <span> تاریخ اضافه</span>
                  </div>
                  <div class="col-10" style="padding-right: 0;padding-left: 42px;">
                    <my-date-picker [type]="'jalali'"
                                    [label]="false"
                                    [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="date.add"
                                    placeholder="تاریخ اضافه شدن"
                                    [locale]="'fa'">
                    </my-date-picker>
                  </div>
                </div>
              </div>

              <div class="pt-1 col-4 d-flex row justify-content-around">
                <div class="col-2  white-color mat-body-2 my-auto"> وضعیت</div>
                <div class="col-10 my-auto" dir="rtl">
                  <mat-radio-group formControlName="status">
                    <mat-radio-button style="color: white" value="UNPAID">پرداخت نشده</mat-radio-button>
                    <mat-radio-button style="color: white" class="ml-3" value="PAID">پرداخت شده</mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>

              <div dir="rtl"
                   style="padding-top: 22px"
                   class="col-4 d-flex row justify-content-around">
                <div class="col-2 mat-body-2 white-color text-center mt-4"
                     style="padding: 0 !important;">
                  <span>شماره فاکتور</span>
                </div>
                <mat-form-field class="col-10"
                                appearance="outline">
                  <input formControlName="factorNumber"
                         matInput
                         autocomplete="off"
                         placeholder="شماره فاکتور"/>
                </mat-form-field>
              </div>

              <div class="col-12 py-2 mb-2 mt-1 d-flex flex-row justify-content-center">
                <button class="col-3 mat-body-1 mx-auto search-desktop-btn"
                        style="background: green"
                        (click)="search()"
                        mat-flat-button>
                  جستجو
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="row mx-auto px-lg-5 mt-3  w-100 d-none d-lg-flex">
        <div class="col-12 mx-auto" style="padding: 0 !important;">
          <mat-card>

            <div class="row  my-auto top-card">
              <div class="col-2 mat-body-1 mt-2 gray-color"
                   style="font-weight: 500;">
                <button class="w-100 mb-2"
                        mat-flat-button
                        [disabled]="!isUnpaid()"
                        color="accent">
                  فاکتور کردن
                </button>
              </div>

              <div dir="rtl" class="col-3"
                   *ngIf="isUnpaid()">
                <mat-form-field class="w-100">
                  <mat-label>حساب ها</mat-label>
                  <mat-select [(ngModel)]="account">
                    <mat-option *ngFor="let item of accountList"
                                [value]="item.id">
                      {{item.accountNumber + ' - ' + item.bank }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

            <div class="row  justify-content-between"
                 style="border-bottom: 2px solid #f1f1f1">

              <div class=" px-1 text-center table-header col-2 py-2">
                گروه کالا
              </div>

              <div class=" px-1 text-center table-header col-1 py-2">
                کد محصول
              </div>

              <div class=" px-1 text-center table-header col-2 py-2">
                قیمت واحد
              </div>

              <div class=" px-1 text-center table-header col-1 py-2">
                تعداد
              </div>

              <div class=" px-1 text-center table-header col-2 py-2">
                قیمت کل
              </div>

              <div class=" px-1 text-center table-header col-2 py-2">
                 قیمت کل پس از تخفیف
              </div>

              <div class=" px-1 text-center table-header col-1 py-2">
                عملیات
              </div>

            </div>
            <infinite-scroll (scrolled)="onScroll()">
              <div class="row justify-content-between"
                   *ngFor="let item of result; let i = index"
                   style="border-bottom: 2px solid #f1f1f1; height: 85px">

                <div class="col-2 table-items my-auto mat-title text-center py-2">
                  {{item.productSize.product.group.name}}
                </div>

                <div class="col-1 table-items my-auto  text-center py-2">
                  {{item.productSize.code}}
                </div>

                <div class="col-2 table-items my-auto  text-center py-2">
                  {{item.productSize.product.price | number}}
                </div>

                <div class="col-1 table-items my-auto  text-center py-2">
                  {{item.amount}}
                </div>

                <div class="col-2 table-items my-auto  text-center py-2">
                  {{item.productSize.product.price * item.amount | number}}
                </div>

                <div class="col-2 table-items my-auto  text-center py-2">
                  {{item.price * item.amount | number}}
                </div>

                <div class="col-1 table-items my-auto  text-center py-2">
                  <button mat-icon-button
                          (click)="openEditSaleDialog(i)">
                    <mat-icon>visibility</mat-icon>
                  </button>

                  <button mat-icon-button
                          (click)="openDeleteSaleDialog(item.id, i)">
                    <mat-icon style="color: red">delete</mat-icon>
                  </button>
                </div>
              </div>
              <mat-spinner *ngIf="loading"
                           class="mx-auto my-3"
                           [diameter]="40"
                           [strokeWidth]="5">
              </mat-spinner>
            </infinite-scroll>

            <div *ngIf="formGroup.get('status').value === 'UNPAID'"
                 class="row justify-content-between">

              <div class="col-2 px-1 text-center table-header py-2">مجموع</div>

              <div class=" px-1 text-center table-header col-1 py-2">
              </div>

              <div class=" px-1 text-center table-header col-2 py-2"></div>

              <div class=" px-1 text-center table-header col-1 py-2"></div>

              <div class=" px-1 text-center table-header col-2 py-2">
                {{sumPrice.total | number}}
              </div>

              <div class=" px-1 text-center table-header col-2 py-2">
                {{sumPrice.discountToal | number}}
              </div>

              <div class=" px-1 text-center table-header col-1 py-2"></div>
            </div>

          </mat-card>
        </div>
      </div>
      <!--  @@@@@@@@@@@@@@@@@@@@ d-block محصولd-lg-none @@@@@@@@@@@@@@@@@@@@@@-->
      <mat-toolbar class="d-lg-none d-flex flex-row justify-content-between zero-padding-mobile"
                   style="background: #236b81">


        <div *ngIf="!customer.loading"
             class="col-auto mat-body-1"
             style="color: white">
          <span>{{customer.obj.name +' '+ customer.obj.family}}</span>
        </div>

        <div class="col-auto px-lg-5">
          <button mat-flat-button
                  *ngIf="!showSearchField"
                  (click)="showSearchField = !showSearchField"
                  class="change-search-btn">
            تغیر جستجو
          </button>
          <button mat-icon-button
                  *ngIf="showSearchField"
                  (click)="showSearchField = !showSearchField"
                  class="change-search-btn">
            <mat-icon class="close">close</mat-icon>
          </button>

          <button mat-icon-button
                  (click)="router.navigate(['/admin'])"
                  style="color: white">
            <mat-icon>arrow_back_ios</mat-icon>
          </button>
        </div>

      </mat-toolbar>

      <div *ngIf="showSearchField"
           class="d-flex d-lg-none field-search w-100 fadeInAnimation">
        <div class="layer w-100">
          <form [formGroup]="formGroup">
            <div class="d-flex row mx-3 justify-content-center">

              <div class="col-10 col-md-8 pt-2">
                  <div class="w-100 white-color mat-body-2 mt-3">
                    <span>تاریخ پرداخت</span>
                  </div>
                    <my-date-picker [type]="'jalali'"
                                    [label]="false"
                                    [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="date.paid"
                                    placeholder="تاریخ پرداخت"
                                    [locale]="'fa'">
                    </my-date-picker>
              </div>

              <div class="col-10 col-md-8 mt-2">
                  <div class=" d-flex white-color mat-body-2 mt-2">
                    <span> تاریخ اضافه</span>
                  </div>
                    <my-date-picker [type]="'jalali'"
                                    [label]="false"
                                    [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="date.add"
                                    placeholder="تاریخ اضافه شدن"
                                    [locale]="'fa'">
                    </my-date-picker>
              </div>

              <div class="pt-1 col-10 col-md-8">
                <div class="w-100  white-color mat-body-2"> شماره فاکتور</div>
                <div dir="rtl">
                  <mat-form-field class="w-100"
                                  appearance="outline">
                    <input formControlName="factorNumber"
                           matInput
                           autocomplete="off"
                           placeholder="شماره فاکتور"/>
                  </mat-form-field>
                </div>
              </div>
              <div class="pt-1 col-10 col-md-8 mb-3">
                <div class="w-100  white-color mat-body-2"> وضعیت</div>
                <div dir="rtl">
                  <mat-radio-group formControlName="status">
                    <mat-radio-button style="color: white" value="UNPAID">پرداخت نشده</mat-radio-button>
                    <mat-radio-button style="color: white" class="ml-3" value="PAID">پرداخت شده</mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>

              <div class="pt-1 col-4 col-md-5 mb-5">
                <button mat-flat-button
                        class="w-100"
                        (click)="search()"
                        style="background: green;color: white">
                  جستجو
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="d-flex  d-lg-none flex-wrap">

        <div class="col-auto px-lg-5 mt-2">
          <button mat-flat-button
                  [disabled]="formGroup.get('status').value === 'PAID'"
                  color="accent">
            فاکتور کردن
          </button>
        </div>

        <div dir="rtl" class="col-6 mt-1">
          <mat-form-field class="w-100">
            <mat-label>حساب ها</mat-label>
            <mat-select [(ngModel)]="account">
              <mat-option *ngFor="let item of accountList"
                          [value]="item.id">
                {{item.accountNumber + ' - ' + item.bank }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-12 mx-auto d-flex row mx-3 my-2 py-1"
             style="margin-left: 0 !important;margin-right: 0 !important;">

          <infinite-scroll (scrolled)="onScroll()"
                           class="w-100">
            <mat-card class="w-100 my-2"
                      *ngFor="let item of result; let i = index">

              <div class="row justify-content-between pb-1">
                <div class="col-4 mat-body-2">گروه کالا</div>
                <div class="col-4 d-flex my-auto between-two-content-border"></div>
                <div class="col-4 mat-body-2"
                     style="text-align: end">
                  {{item.productSize.product.group.name}}
                </div>
              </div>

              <div class="row justify-content-between py-1">
                <div class="col-4 mat-body-2">کد محصول</div>
                <div class="col-4 d-flex my-auto between-two-content-border"></div>
                <div class="col-4 mat-body-2"
                     style="text-align: end">
                  {{item.productSize.code}}
                </div>
              </div>

              <div class="row justify-content-between py-1">
                <div class="col-4 mat-body-2">قیمت واحد</div>
                <div class="col-4 d-flex my-auto between-two-content-border"></div>
                <div class="col-4 mat-body-2"
                     style="text-align: end">
                  {{item.productSize.product.price | number}}
                </div>
              </div>

              <div class="row justify-content-between py-1">
                <div class="col-4 mat-body-2">تعداد</div>
                <div class="col-4 d-flex my-auto between-two-content-border"></div>
                <div class="col-4 mat-body-2"
                     style="text-align: end">
                  {{item.amount}}
                </div>
              </div>

              <div class="row justify-content-between py-1">
                <div class="col-4 mat-body-2">قیمت کل</div>
                <div class="col-4 d-flex my-auto between-two-content-border"></div>
                <div class="col-4 mat-body-2"
                     style="text-align: end">
                  {{item.productSize.product.price * item.amount | number}}
                </div>
              </div>

              <div class="row justify-content-between py-1">
                <div class="col-4 mat-body-2">قیمت کل پس از تخفیف</div>
                <div class="col-4 d-flex my-auto between-two-content-border"></div>
                <div class="col-4 mat-body-2"
                     style="text-align: end">
                  {{item.price * item.amount | number}}
                </div>
              </div>

              <hr class="w-75 mx-auto  mt-4">
              <div class="d-flex flex-row flex-wrap justify-content-end pt-1">
                <div class="col-2 col-md-1 table-items my-auto  text-center py-2">
                  <button mat-icon-button
                          (click)="openEditSaleDialog(i)">
                    <mat-icon>visibility</mat-icon>
                  </button>
                </div>

                <div class="col-2 col-md-1 table-items my-auto  text-center py-2">
                  <button mat-icon-button
                          (click)="openDeleteSaleDialog(item.id, i)">
                    <mat-icon style="color: red">delete</mat-icon>
                  </button>
                </div>

              </div>
            </mat-card>

            <mat-spinner *ngIf="loading"
                         class="mx-auto my-3"
                         [diameter]="40"
                         [strokeWidth]="5">
            </mat-spinner>
          </infinite-scroll>

          <mat-card class="w-100 my-2"
                    *ngIf="isUnpaid()">
            <div class="mat-title">مجموع</div>
            <div class="row justify-content-between pb-1">
              <div class="col-5 mat-body-2"> قیمت کل</div>
              <div class="col-2 d-flex my-auto between-two-content-border"></div>
              <div class="col-5 mat-body-2"
                   style="text-align: end">
                {{sumPrice.total | number}}
              </div>
            </div>
            <div class="row justify-content-between pb-1">
              <div class="col-5 mat-body-2">قیمت کل پس از تخفیف</div>
              <div class="col-2 d-flex my-auto between-two-content-border"></div>
              <div class="col-5 mat-body-2"
                   style="text-align: end">
                {{sumPrice.discountToal | number}}
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
